@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


html,

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

.service {
    display: inline-block;
    background-color: #FEF6FF;
    border: 5px solid #AFA8BA;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 70px;
    width: 800px;
    right: 150px;
    margin: 30px;
}



.resize{
    width:900px;
    height:auto;
}

.image-box-header {
    position: absolute;
    left: 0px;
    top: -25;
}



/* text sizes and fonts */
h1,
h2 {
    color: darkred;
}

h3,
li {
    color: green;
}

/* The Table list that shows what typs of food we serve and the price of the item */



/* Homepage css code will be below here */
.page-1 {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/images/hearo-home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 27%;
    padding: 10px;

}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 55px;
    color: #f1f1f1;
    font-family: 'Patrick Hand', cursive;
}






/* Aboutpage css code will be below here */
.page-3 {
    background-color: #70793f;
    text-align: center;
}
/* Contactpage css code will be below here */
.page-4 {
    background-color: #70793f;
    text-align: center;
}
/* Menupage css code will be below here */
.page-2 {
    background-color: #70793f;
    text-align: center;
}

.table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}
/* This is for all the Pages below here */

#footer {
    position: sticky;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    font-size: small;
    opacity: 90%;
}


/* navbar for each page */
nav {
    background-color: #000000;
    padding: 10px;
    opacity: 30%;
    font-size: 0.95em;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    margin-right: 25px;
}

nav a:hover {
    color: rgb(43, 255, 0);
}





