html,
body {
    margin: 0;
    padding: 0;
    background-image: url(/assets/images/Eat-together.webp);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    color: green;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    background-color: #d3cfcf;
    padding: 10px;
    background: transparent;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

.service {
    display: inline-block;
    background-color: #FEF6FF;
    border: 5px solid #AFA8BA;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 70px;
    width: 800px;
    right: 150px;
    margin: 30px;
}

.table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.resize{
    width:900px;
    height:auto;
}

.dine-in-button{
    background-color: rgba(170, 192, 128, 0.473);
    color: white;
    border: none;
    padding: 40px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.image-box-header {
    position: absolute;
    left: 0px;
    top: -25;
}