@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


html,

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

.service {
    display: inline-block;
    background-color: #FEF6FF;
    border: 5px solid #AFA8BA;
    border-radius: 5px;
    color: darkred;
    font-size: 2em;
    padding: 70px;
    width: 800px;
    right: 150px;
    margin: 30px;
}





.image-box-header {
    position: absolute;
    left: 0px;
    top: -25;
}



/* text sizes and fonts */
h1,
h2 {
    color: rgb(255, 255, 255);
}

h3,
li {
    color: green;
}

/* The Table list that shows what typs of food we serve and the price of the item */



/* Homepage css code will be below here */
.page-1 {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(/assets/images/hearo-home1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 27%;
    padding: 10px;

}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 55px;
    color: #f1f1f1;
    font-family: 'Dancing Script', cursive;
}






/* Aboutpage css code will be below here */
.page-3 {
    background-color: #adb5b8;
    text-align: center;
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 8px;
    margin-bottom: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.container {
    padding: 0 16px;
}

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.card-title {
    color: gray;
}

.about-title {
    border-bottom: 2px solid #849099;
    font-family: 'Dancing Script', cursive;
}

.Name-title {
    font-family: 'Dancing Script', cursive;
}

/* Contactpage css code will be below here */
.page-4 {
    background-color: #adb5b8;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Menupage css code will be below here */
.page-2 {
    background-color: #adb5b8;
    text-align: center;
    margin: 0;
    background-image: url(/assets/images/table-in-restaurant.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.table {
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    color: #ffffff;
}
  
td,
th {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}

tr:hover {background-color: rgba(255, 127, 80, 0.623);}
/* This is for all the Pages below here */

#footer {
    position: sticky;
    background-color: #5f6a72;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    font-size: small;
    opacity: 80%;
}

.resize{
    width:600px;
    height:auto;
}
/* navbar for each page */
nav {
    background-color: #5f6a72;
    padding: 10px;
    opacity: 70%;
    font-size: 0.95em;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
    margin-right: 25px;
}

nav a:hover {
    color: rgb(43, 255, 0);
}





